@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@700&display=swap");

:root {
  --min-button-width: 1.5em;
  --width: 25em;
  font-family: sans-serif;
  font-size: 130%;
}

body {
  margin: 1em;
  text-align: center;
}

h1 {
  margin: 0.25em auto;
  font-weight: normal;
  font-family: "Montagu Slab", sans-serif;
  font-size: 2.6em;
}

#title::before {
  content: "🎩 ";
}

.welcome-string {
  font-weight: bold;
  margin: 0 auto 0 0;
  padding: 0;
}

h2 {
  margin: 0.5em auto;
  font-weight: normal;
  font-family: "Montagu Slab", sans-serif;
  font-size: 1.7em;
  transition: 0.1s;
}

details,
summary {
  cursor: pointer;
  user-select: none;
}

details,
summary > * {
  display: inline;
}

table {
  cursor: auto;
  margin: 0 auto;
}

th {
  font-weight: bold;
  text-align: left;
  padding: 0.5em 0.5em 0;
}

td {
  text-align: start;
  padding: 0.5em;
}

.center {
  text-align: center;
}

input,
button,
select {
  padding: 0.5em;
  font-size: 100%;
}

input[type="number"]:hover::-webkit-inner-spin-button {
  height: 1.25em;
  padding: 0.25em;
}

.nav-button-block {
  display: flex;
  flex: auto;
  flex-flow: row-reverse;
  width: var(--width);
  margin: auto;
}

.nav-button {
  /* button row is flex-reversed */
  margin-left: 1em;
  padding: 0.25em 0.5em;
  font-size: 0.7em;
}

.new-selection {
  width: 9.2em;
}

input:active,
input:focus-visible {
  outline: 1pt;
}

hr {
  margin-top: 1em;
  width: var(--width);
  border-color: #0000;
  background-color: black;
}

.flour-entry-name {
  width: 8em;
}

.flour-entry-number {
  width: 4em;
  text-align: center;
}

.warning {
  background-color: rgb(255, 213, 213);
  outline: auto;
}

.flour-delete-button {
  min-width: var(--min-button-width);
  padding: 0;
  font-size: 150%;
  min-height: 1.5em;
}

.flour-delete-button::after {
  content: "⨯";
}

.sub-total {
  font-size: 2em;
  min-width: 3em;
}

.total {
  font-weight: 600;
  font-size: 2.6em;
  padding: 0 1em 0.5em;
}

ul.dropdown {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  border-color: #666;
  border-style: solid;
  border-width: 1pt;
  border-radius: 1.6pt;
  padding: 0.5em;
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

@media (max-width: 660px) {
  body {
    margin: 0;
  }

  h1 {
    font-size: 8.4vw;
  }

  h2 {
    font-size: 5.3vw;
  }

  h3 {
    font-size: 4vw;
  }

  hr {
    margin-top: 3vw;
    width: 80vw;
  }
  .welcome-string,
  input,
  button,
  select {
    font-size: 3.2vw;
    min-height: 4vw;
  }

  .nav-button-block {
    width: 80vw;
  }

  .nav-button {
    font-size: 2.2vw;
  }

  td {
    padding: 1vw;
  }

  th {
    font-size: 3.2vw;
  }

  .sub-total {
    font-size: 7.5vw;
    padding: 2vw 3vw 3vw;
  }

  .total {
    font-size: 8.75vw;
    padding: 2vw 6vw;
  }

  .flour-delete-button {
    font-size: 5vw;
    min-height: 8vw;
    /* todo: try get correct sizing on mobile */
  }
}
